// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=73j200koR++aR++ix++vdYQH-HI */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #3AF6FF;	// Main Primary color */
$color-primary-1: #A9FBFF;
$color-primary-2: #6CF8FF;
$color-primary-3: #08EEF8;
$color-primary-4: #01BAC2;

$color-secondary-1-0: #FF3989;	// Main Secondary color (1) */
$color-secondary-1-1: #FFA9CB;
$color-secondary-1-2: #FF6BA7;
$color-secondary-1-3: #FD066A;
$color-secondary-1-4: #E9005E;

$color-secondary-2-0: #A6FF39;	// Main Secondary color (2) */
$color-secondary-2-1: #D8FFA9;
$color-secondary-2-2: #BDFF6B;
$color-secondary-2-3: #8EFD06;
$color-secondary-2-4: #85F100;

$color-complement-0: #FF9439;	// Main Complement color */
$color-complement-1: #FFD1A9;
$color-complement-2: #FFB06B;
$color-complement-3: #FF7906;
$color-complement-4: #FF7600;
